<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Like">
    <insert id="addLike" parameterType="Long" >
        insert into board_like (articleId, memberId)
        values (#{articleId},#{memberId})
    </insert>

    <select id="findById" parameterType="Long" resultType="like">
        select*from board_like where memberId=#{memberId}
    </select>

    <insert id="disLike">
        delete from board_like where articleId=#{articleId}
    </insert>

</mapper>
