<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Like">
    <insert id="addLike" parameterType="Integer">
        insert into board_like (articleId, memberId)
        values (#{articleId},#{memberId})
    </insert>

    <insert id="disLike">
        update board_like set article_like=article_like-1 where articleId=#{articleId}
    </insert>

</mapper>